
  <div class="container" id="about">

    <h1 class="font-weight-light text-center mt-4 mb-0">Quienes Somos</h1>
  
    <hr class="mt-2 mb-5">

    <div class="row">

			<div class="col-lg-6 col-md-6 col-sm-12 p-5">
        
          <p class="text-muted">Somos un emprendiemiento en pareja</p>

          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem voluptates illum labore quod unde corrupti ad excepturi sequi explicabo dolore, tempora, odio nisi, rem quasi cupiditate tenetur eveniet a!</p>

          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem voluptates illum labore quod unde corrupti ad excepturi sequi explicabo dolore, tempora, odio nisi, rem quasi cupiditate tenetur eveniet a!</p>

          <p class="text-muted mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem voluptates illum labore quod unde corrupti ad excepturi sequi explicabo dolore, tempora, odio nisi, rem quasi cupiditate tenetur eveniet a!</p>

          <img class="img-fluid img-thumbnail" src="/assets/img/about/carol.jpg" alt="carol">

      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 p-5">
        
        <img class="img-fluid img-thumbnail"  src="/assets/img/about/carol.jpg" alt="carol">

        <p class="text-muted mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem voluptates illum labore quod unde corrupti ad excepturi sequi explicabo dolore, tempora, odio nisi, rem quasi cupiditate tenetur eveniet a!</p>

        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem voluptates illum labore quod unde corrupti ad excepturi sequi explicabo dolore, tempora, odio nisi, rem quasi cupiditate tenetur eveniet a!</p>

        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem voluptates illum labore quod unde corrupti ad excepturi sequi explicabo dolore, tempora, odio nisi, rem quasi cupiditate tenetur eveniet a!</p>

        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem voluptates illum labore quod unde corrupti ad excepturi sequi explicabo dolore, tempora, odio nisi, rem quasi cupiditate tenetur eveniet a!</p>

      </div>
      
    </div>

  </div>

