<div class="container" id="about">
  <h1 class="font-weight-light text-center mt-4 mb-0">Quienes Somos</h1>

  <hr class="mt-2 mb-4" />

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <p class="text-muted" style="text-indent: 1cm;">
        <strong>TempoSushi</strong> nació como alternativa para todas aquellas
        personas que, como nosotros, son amantes del buen sushi. <br />
        En cada pieza que hacemos está la pasión y el amor que tenemos por el
        sushi y queremos siempre compartir.
      </p>

      <p class="text-muted" style="text-indent: 1cm;">
        Cada día ponemos nuestro mejor esfuerzo por ofrecer productos premium,
        es por ello que nuestro principal objetivo es la seriedad y el
        compromiso en brindar a nuestros clientes un producto fresco, rico y a
        buen precio. Elegimos cuidadosamente cada uno de nuestros ingredientes
        para que puedan disfrutar de piezas de calidad.
      </p>

      <p class="text-muted" style="text-indent: 1cm;">
        Somos un emprendimiento con muchas ganas de posicionarnos, distinguirnos
        de la competencia, crecer como empresa y consolidarnos como la
        preferencia de los consumidores
      </p>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="img-fluid" src="/assets/img/about/carol.jpg" alt="carol" />
    </div>
  </div>
</div>
