<!--=====================================
	FORMULARIO
	======================================-->

	<div class="container" id="contact">
		
		<h1 class="font-weight-light text-center mt-4 mb-0">Contactanos</h1>

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-12">

				<h2  class="font-weight-light text-center mt-4 mb-0">Ubicanos</h2>

				<hr class="mt-2 mb-3">
				<div class="redesIcon">
					<p><i class="fas fa-map-marker-alt"></i><span> Capital Federal</span></p>
					<p><i class="fas fa-phone-volume"></i><span><b> Teléfonos</b> +54 9 1122530084</span></p>
				</div>
				
				<hr class="mt-2 mb-3">

				<h3  class="font-weight-light text-center mt-4 mb-0">Síguenos en nuestras redes</h3>
				<hr class="mt-2 mb-3">
				<div class="redesIcon">
					<a href="" target="_blank" style="color: white;"><i class="fa fa-facebook-official"></i></a>
					<a href="" target="_blank" style="color: white;"><i class="fa fa-instagram"></i></a>
					<a href="" target="_blank" style="color: white;"><i class="fa fa-twitter"></i></a>
				</div>

			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">

				<h2  class="font-weight-light text-center mt-4 mb-0">Envíanos un mensaje</h2>

				<form class="p-4 needs-validation" (ngSubmit)="sendEmail(f)" #f="ngForm" novalidate>
				
					<div class="form-group">      
						<input type="text" name="name" class="form-control colorcard" minlength="2" maxlength="12" pattern="(?=.*[A-Za-z]).{2,6}" [(ngModel)] ="customer.name" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Nombre</label>
	
						<div class="valid-feedback">Valid.</div>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
	
					<div class="form-group">      
						<input type="email" name="email" class="form-control colorcard" [(ngModel)] ="customer.email"  required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Email</label>
					</div>
	
					<div class="form-group">      
						<input type="text" name="message" class="form-control colorcard" [(ngModel)]="customer.message" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Mensaje</label>
	
						<div class="valid-feedback">Valid.</div>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
	
					<!-- <div class="form-group">
						  <label for="mensajes">Mensaje:</label>
						  
						  <textarea class="form-control" rows="5" id="mensajes"  required></textarea>
						  
						  <div class="valid-feedback">Valid.</div>
						<div class="invalid-feedback">Please fill out this field.</div>
					  </div> -->
	
					<button type="submit" class="btn colorcentral btn-block">Enviar</button>
	
				</form>
	
			</div>

		</div>

		

	</div>