<!--=====================================
	FORMULARIO
	======================================-->

	<div class="container-fluid p-0 bg-white" id="formulario">
		
		<h2 class="text-uppercase pt-5 text-muted text-center">Contactanos</h2>

		<div class="container">
			
			<form class="bg-light p-4 needs-validation" (ngSubmit)="sendEmail(f)" #f="ngForm" novalidate>
				
				<h4 class="bg-dark text-white text-center p-2">Ingrese los datos</h4>
				
				<div class="form-group">
					
					<label for="usuario">Ingrese su nombre</label>

					<input type="text" id="usuario" name="name" class="form-control" placeholder="Escriba su usuario con mínimo 2 caracteres, máximo 6 caracteres sin usar números" minlength="2" maxlength="6" pattern="(?=.*[A-Za-z]).{2,6}" [(ngModel)] ="customer.name"  required>

				  	<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>

				</div>

				<div class="form-group">

					<label for="email">Ingrese su correo electrónico:</label>

					<input type="email" id="email" class="form-control"  placeholder="Escriba su correo" name="email" [(ngModel)] ="customer.email" required>

					<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>

				</div>

				<div class="form-group">
					  <label for="mensajes">Mensaje:</label>
					  
					  <textarea class="form-control" rows="5" id="mensajes" name="message" [(ngModel)]="customer.message" required></textarea>
					  
			  		<div class="valid-feedback">Valid.</div>
    				<div class="invalid-feedback">Please fill out this field.</div>
			  	</div>

				<div *ngIf="errorCreado" class="alert alert-danger">{{mensajeApi}}</div>
				<div *ngIf="creado" class="alert alert-success">{{mensajeApi}}</div>

				<button type="submit" class="btn btn-primary btn-block">Enviar</button>

			</form>

		</div>

	</div>