<!--=====================================
	GALERÍA
	======================================-->	

	<div class="container-fluid p-0 bg-white" id="galeria">

		<h2 class="text-uppercase py-3 text-muted text-center">Nuetros Productos</h2>
			<div class="container-menu">
				<ul class="">
					<li class="nav-item"><a class="nav-link d-none d-lg-block" [routerLinkActive]="['active']" [class.active]="filterBy==''" (click)="filterBy=''"><img src="assets/img/productos/promos.png" alt="Promos" style="width: 80px; height: 70px;"><br> Promociones</a>
					</li>

					<li class="nav-item"><a class="nav-link d-none d-lg-block" [routerLinkActive]="['active']" [class.active]="filterBy==''" (click)="filterBy=''"><img src="assets/img/productos/temakis.png" alt="Temakis" style="width: 80px; height: 70px;"><br> Temakis</a>
					</li>

					<li class="nav-item"><a class="nav-link d-none d-lg-block" [routerLinkActive]="['active']" [class.active]="filterBy==''" (click)="filterBy=''"><img src="assets/img/productos/cajita.png" alt="Entradas" style="width: 80px; height: 70px;"><br>  Entradas</a>
					</li>

					<li class="nav-item"><a class="nav-link d-none d-lg-block" [routerLinkActive]="['active']" [class.active]="filterBy==''" (click)="filterBy=''"> <img src="assets/img/productos/roll.png" alt="Rolls" style="width: 80px; height: 70px;"><br>Rolls</a>
					</li>
					
					<li class="nav-item"><a class="nav-link d-none d-lg-block" [routerLinkActive]="['active']" [class.active]="filterBy==''" (click)="filterBy=''"><img src="assets/img/productos/bebidas.png" alt="Bebidas" style="width: 80px; height: 70px;"><br>Bebidas</a>
					</li>

					<li class="nav-item"><a class="nav-link d-none d-lg-block" [routerLinkActive]="['active']" [class.active]="filterBy==''" (click)="filterBy=''"><img src="assets/img/productos/salads.png" alt="Salads" style="width: 80px; height: 70px;"><br> Sushi Salads</a>
					</li>

				</ul>
			</div>
		
		
		<section class="pinterest_grid">

			<article *ngFor="let item of galleryJson; let lastItem = last" class="white-panel"> 

				<a href="{{url}}/mostrar-img-galeria/{{item.foto}}" data-toggle="lightbox" data-gallery="example-gallery">
					<img src="{{url}}/mostrar-img-galeria/{{item.foto}}">
				</a>
				
				{{lastItem ? callback() : "" }}
			</article>

		</section>

	</div>
