.container h1 {
  font-size: 80px;
  font-family: "Harukaze" !important;
  color: white;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 576px) {
  .container img {
    padding: 5px 20px !important;
  }
}
