<div class="container" id="footer">

    <div class="row">
     
        <a href="https://www.facebook.com/Anasuarezsoyyo" target="_blank"><i class="fa fa-facebook-official"></i></a>
        <a href="https://www.instagram.com/suarezana20/?hl=es-la" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/ana_suarez17" target="_blank"><i class="fa fa-twitter"></i></a>
        <p class="textFooter">Powered by @suarezana.com&copy;2020 all rights reserved</p>
          
     </div>

</div>