<div class="container" id="footer">
  <hr class="mt-2 mb-3" />
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 redesIcon">
      <h3 class="font-weight-light mt-4 mb-0">
        Síguenos en nuestras redes
      </h3>
      <a href="" target="_blank" style="color: white;"
        ><i class="fa fa-facebook-official"></i
      ></a>
      <a href="" target="_blank" style="color: white;"
        ><i class="fa fa-instagram"></i
      ></a>
      <a href="" target="_blank" style="color: white;"
        ><i class="fa fa-twitter"></i
      ></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 redesIcon">
      <h3 class="font-weight-light mt-4 mb-0">
        <i class="fa fa-motorcycle"></i> Tenemos Delivery en CABA
      </h3>
      <a href="" class="btn colorcentral"> Pedir ahora</a>
    </div>
  </div>
  <p class="textFooter">
    Todos los derechos reservados @TempoSushi&copy;2020 <br />
    Powered by @suarezana.com
  </p>
</div>
