<!--=====================================
	SLIDESHOW
	======================================-->	

	<!-- <div class="container-fluid p-0 bg-white">
		
		<section class="jd-slider slideshow">

			<div class="slide-inner">

				<ul class="slide-area">
					<li *ngFor="let slide of slideJson; let ultimoIndice = last">
						<div class="overlay"></div>
						<div class="slide-text d-none d-lg-block">
							<h3>{{slide.titulo}}</h3> 
							<p>{{slide.descripcion}}</p>
						</div>
						<img src="{{url}}/mostrar-img/{{slide.imagen}}">
						{{ultimoIndice ? callback() : "" }}
					</li>
				</ul>
			</div>

			<a class="prev" href="#">
				<i class="fas fa-angle-left fa-2x text-white pl-3"></i>
			</a>
			<a class="next" href="#">
				<i class="fas fa-angle-right fa-2x text-white pr-3"></i>
			</a>

			<div class="controller">

				<a href="#" class="auto d-none">
					
					<i class="fas fa-play fa-xs"></i>
					<i class="fas fa-pause fa-xs"></i>

				</a>

				<div class="indicate-area d-none d-sm-block"></div>
			</div>

		</section>

	</div> -->

	<div class="slider mb-5"> 

		<div id="carousel" class="carousel slide" data-ride="carousel">
		  
			<ol class="carousel-indicators">
				<li data-target="#carousel" data-slide-to="0" class="active"></li>
				<li data-target="#carousel" data-slide-to="1"></li>
				<li data-target="#carousel" data-slide-to="2"></li>
				<li data-target="#carousel" data-slide-to="3"></li>
			</ol>

			<div class="carousel-inner" role="listbox">

				<!-- Slide One - Set the background image for this slide in the line below -->
				<div class="carousel-item active" *ngFor="let slide of slideJson; let primerIndice = first" [ngClass]="{active:primerIndice}">
					<div class="overlay"></div>
					<img src="{{url}}/mostrar-img/{{slide.imagen}}" alt="" class="img-fluid">
					<div class="carousel-caption d-md-block">
					<h2 class="display-4">{{slide.titulo}}</h2>
					<p class="lead">{{slide.descripcion}}</p>
					</div>
				</div>
	
			</div>

			<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
				
		</div>

	  </div>