
/*=============================================
JD SLIDER
=============================================*/
.slide-inner img{
	height: 80vh;
	width: 100%;
}
.slide-area li{
	position: relative;
}

.slide-text{
	position: absolute;
	color:#fff;
	width:80%;
	text-align:center;
	left:50%;
	transform: translate(-50%, -50%);
	top:50%;
	text-shadow:0px 0px 5px black;
}
