.container-menu{
    text-align: center;
}

ul{
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
}
 li {
    display: inline-block;
    padding: 0 20px;
}

li a{
   color: #daa40eea;
   transition: .2s all;
}
li img:hover{
transform: scaleX(-3px);
transition: .2s all;
}

/*SECTION CARDS PRODUCTS*/

.container-separator{
    padding: 20px 0px;
}