.container-products{
    padding-right: 0;
}
.container-products h1{
    font-size: 80px;
    font-family: 'Harukaze' !important;
    color: white;
    letter-spacing:.2em;
}
.container-menu{
    text-align: center;
    white-space:nowrap;
    min-width:100%;
    overflow-x:scroll;
    overflow-y:hide;
}

ul{
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
}
 li {
    display: inline-block;
    padding: 0 20px;
}

li a{
   color: #daa40eea;
   transition: .2s all;
}

li img:hover{
    transform: scaleX(-3px);
    transition: .2s all;
}
li span{
    color: white;
    font-family: 'bonzai';
    font-size: 26px;
}
.card{
    border-radius: 10px;
    -webkit-box-shadow: -1px 11px 30px 0px rgba(201, 201, 201, 0.349);
    -moz-box-shadow: -1px 11px 30px 0px rgba(201, 201, 201, 0.349);
    box-shadow: -1px 11px 30px 0px rgba(201, 201, 201, 0.349);

}
.card-body{
    padding: 30px;
    color: white;

}

.card-body h4{
    font-size: 34px;
    font-family: 'bonzai';
    text-align: center;
    font-weight: 400;
}
.card-body textarea{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0) !important;
}
.card-body p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.card-body a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    transition:.4s all ;
}

.card-body a:hover{
    background: rgb(39, 39, 39);
    transition:.4s all ;
}
/*SECTION CARDS PRODUCTS*/



/*=============================================
     MEDIAS QUERYS
=============================================*/
/* 
@media screen and (max-width:576px){
    .container-menu{
        white-space:nowrap;
        min-width:100%;
        overflow-x:scroll;
        overflow-y:hide;
    }
}
@media screen and (max-width:768px){
    .container-menu{
        white-space:nowrap;
        min-width:100%;
        overflow-x:scroll;
        overflow-y:hide;
    }
  } */