
.container-products h1{
    font-size: 80px;
    font-family: 'Harukaze' !important;
    color: white;
    letter-spacing:.2em;
}
.container-menu{
    text-align: center;
}

ul{
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
}
 li {
    display: inline-block;
    padding: 0 20px;
}

li a{
   color: #daa40eea;
   transition: .2s all;
}

li img:hover{
    transform: scaleX(-3px);
    transition: .2s all;
}
li span{
    color: white;
    font-family: 'bonzai';
    font-size: 26px;
}
.card{
border-radius: 10px;

}
.card-body{
    padding: 30px;
}

.card-body h4{
    font-size: 34px;
    font-family: 'bonzai';
    text-align: center;
    font-weight: 400;
}
.card-body textarea{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.card-body p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.card-body a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*SECTION CARDS PRODUCTS*/
