<!--=====================================
	PRODUCTOS
	======================================-->	

	<div class="container-fluid p-0 bg-white products" id="products">

		<h2 class="text-uppercase py-3 text-muted text-center">Nuestros Productos</h2>
			<div class="container-menu">

				<ul class="">
					
					<li class="btn" [class.active]="filterBy=='all'" (click)="filterBy='all'">
						<img src="assets/img/productos/promos.png" alt="Promos" style="width: 80px; height: 70px;"><br>
						<span>Todos</span>
					</li>
				
					

					<li class="btn" [class.active]="filterBy=='Promociones'" (click)="filterBy='Promociones'">
						<img src="assets/img/productos/promos.png" alt="Promos" style="width: 80px; height: 70px;"><br> 
						<span>Promociones</span>
					</li>

					<li class="btn" class="btn" [class.active]="filterBy=='Temakis'" (click)="filterBy='Temakis'">
						<img src="assets/img/productos/temakis.png" alt="Temakis" style="width: 80px; height: 70px;"><br>
						<span >Temakis</span>
					</li>

					<li class="btn"  [class.active]="filterBy=='Entradas'" (click)="filterBy='Entradas'">
						<img src="assets/img/productos/cajita.png" alt="Entradas" style="width: 80px; height: 70px;"><br>
						<span>Entradas</span>
					</li>

					<li class="btn" [class.active]="filterBy=='Rolls'" (click)="filterBy='Rolls'">
						<img src="assets/img/productos/roll.png" alt="Rolls" style="width: 80px; height: 70px;"><br>
						<span>Rolls</span>
					</li>
					
					<li class="btn"  [class.active]="filterBy=='Bebidas'" (click)="filterBy='Bebidas'">
						<img src="assets/img/productos/bebidas.png" alt="Bebidas" style="width: 80px; height: 70px;"><br>
						<span>Bebidas</span>
					</li>

					<li class="btn" [class.active]="filterBy=='Sushi salad'" (click)="filterBy='Sushi salad'">
						<img src="assets/img/productos/salads.png" alt="Salads" style="width: 80px; height: 70px;"><br>
						<span>Sushi salads</span>
					</li>

				</ul>
			</div>
		
		
		<div class="pinterest_grid" *ngFor="let item of (productsJson | ProductsFilter: filterBy)">		
				
			<div *ngFor="let item of productsJson; let lastItem = last"  class="card-item white-panel item  {{item.category}}" style="width:400px">

				<a href="{{url}}/mostrar-img-producto/{{item.image}}" data-toggle="lightbox"   data-gallery="gallery">
					<img class="card-img-top" src="{{url}}/mostrar-img-producto/{{item.image}}" style="height: 200px;">
				</a>

				<div class="card-body">
					<h4 class="card-title">{{item.title}}</h4>
					<textarea readonly class="card-text" style="border: none;">{{item.description}}</textarea>
					<p>Precio   <strong>{{item.price}}</strong></p>
					<a href="#" class="btn btn-warning">Pedir ahora</a>

				</div>
					
				{{lastItem ? callback() : "" }}

			</div>

		</div>

	</div>
<!-- 
	<script>

		/*=============================================
        Mixitup
        =============================================*/
		var containerEl = document.querySelector('[data-ref="mixitup-container"]');
		console.log(containerEl);
		var mixer = mixitup('.container', {
			selectors: {
				target: '.item'
			}
		});

	</script> -->